<th:block th:fragment="footer">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Footer -->
    <footer class="bg-blue-900 text-white py-10">
        <div class="container mx-auto px-4 text-center">
            <h3 class="text-lg font-bold">Edu<span class="text-yellow-400">Learn</span></h3>
            <p class="mt-2 text-gray-300">&copy; 2024 EduLearn All rights reserved.</p>
        </div>
    </footer>
    </html>
</th:block>